#tableWorker
{
    width: 97%;
    background-color: coral;
    margin: 1rem;
    padding: 1rem;
    border: 2px solid #ccc;
    text-align: left;
}

#WorkersTableContent
{
    width: 92%;
    background-color: coral;
    margin: 1rem;
    padding: 1rem;
    border: 2px solid #ccc;
    text-align: left;
}


